[Desktop Entry]
Comment[en_US]=
Comment=
Exec=bash ~/Source/rummik/stream/streaming.sh
GenericName[en_US]=Start tools for streaming
GenericName=Start tools for streaming
Icon=vokoscreen
MimeType=
Name[en_US]=Stream
Name=Stream
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=none
X-KDE-SubstituteUID=false
X-KDE-Username=
